# Compiled source #
###################
*.o
TileAttEditor

#   Image files   #
###################
*.png

#  Tileset files  #
###################
*.tsx
*.xml

#   Other files   #
###################
*.txt
*.conf
*.svg

