# Compiled source #
###################
*.o
TileAttEditor
path
gui

#   Image files   #
###################
*.png

#  Tileset files  #
###################
*.tsx
*.xml

#   Other files   #
###################
*.txt
*.conf
gui.c
